html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-bg: #0d0500;
  --dark-bg-alpha: #0d0500cc;
  --red-border: #c50;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100vh;
}

#app {
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
